/* General Styles for About Me Section */
.about-me-container {
  height:95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5%;
  margin-left: 90px;
  margin-bottom: 1.5%;
  background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
  color: #ddd;
}

/* Text Zone Section */
.text-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
}

.text-zone h1 {
  font-size: 4rem;
  color: #f2a712;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease-out;
}

.summary {
  font-size: 2rem;
  line-height: 1.8;
  color: #ddd;
  max-width: 80%;
  margin: 20px auto;
  animation: slideUp 1.5s ease-out;
}

/* Projects Section */
.projects-container {
  width: 100%;
  height: 80vh;
}

.projects-container h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 4rem;
  color: #f2a712;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 2s ease-in-out;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%; /* Ensure the height takes available space */
  padding: 10px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}

.project-card.enlarged {
  height: 110%; /* Increase the height by 30% */
}

.project-logo {
  width: 250px;
  height: 200px;
  margin-bottom: 15px;
}

.project-details {
  text-align: center;
  font-size: 1.75em; /* Increase the font size by 25% */
  transition: font-size 0.3s ease;
}

.project-details:hover {
  font-size: 1.25em; /* Increased font size on hover */
}
.project-details h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.project-details p {
  font-size: 1.8rem;
  line-height: 1.5;
}

/* Technologies Section */
.technologies-container {
  width: 100%;
  height: 80vh;
}

.technologies-container h2 {
  margin-top: 2%;
  margin-bottom: 4%;
  text-align: center;
  font-size: 4rem;
  color: #f2a712;
  margin-bottom: 30px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.technologies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Create 3 equal-width columns */
  gap: 20px;
  justify-items: center;
}


.technology-card {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width:60%;
  height:80%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.technology-card:hover {
  transform: scale(1.05); /* Optional hover effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Optional hover shadow */
}

.tech-icon {
  font-size: 3.5rem;
}

.tech-icon img {
  width: 80px;
  height: 30px;
}

.tech-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

/* Controls Section */
.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.controls .arrow {
  font-size: 2.5rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.controls .arrow:hover {
  background: #007acc;
  transform: scale(1.2);
}

.controls .left-arrow {
  position: absolute;
  left: 160px;
  bottom:100 px;
}

.controls .right-arrow {
  position: absolute;
  right: 20px;
  bottom:100 px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Controls Arrow Sizes for Smaller Screens */
.controls .arrow {
  font-size: 2rem;
  border-radius: 50%;
}


/* Responsive Design for Devices Between 768px and 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }

  .summary {
    font-size: 2.4rem;
    max-width: 85%;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .project-logo {
    width: 175px;
    height: 140px;
  }

  .project-details {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  .technologies-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .technologies-container {
    overflow-y: auto;
  }

  .technologies-container h2{
    font-size: 3.6rem;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    border: 2px solid #fff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .arrow {
    font-size: 2.2rem;
  }

  .left-arrow {
    left: 100px;
  }

  .right-arrow {
    right: 30px;
  }
}

/* Responsive Design for Devices with Screen Width ≤ 768px */
@media (max-width: 767px) {
  .about-me-container {
    height:95%;
    margin-left: 8%;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
    color: #ddd;
  }


  h1 {
    font-size: 2.2rem;
  }

  .summary {
    font-size: 1.4rem;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    width: 26%;
  }

  .project-logo {
    width: 120px;
    height: 100px;
  }

  .project-details {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  .technologies-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .technologies-container{
    overflow-y: auto;
    }

  .technologies-container h2{
      font-size: 2.2rem;
    }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    border: 2px solid #fff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .arrow {
    font-size: 2rem;
  }

  .left-arrow {
    left: 100px;
  }

  .right-arrow {
    right: 30px;
  }
}

/* Responsive Styles for Screens <= 500px */
@media (max-width: 600px) {
  .about-me-container {
    position: relative;
    display: flex;
    width: calc(70% - 10px); /* Start 5px from sidebar and end 5px before right */
    padding: 10px;
    margin-left: 70px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* Text Zone Section */
  .text-zone {
    text-align: center; /* Align text to left for better readability */
    height: auto;
    padding: 20px;
  }

  .text-zone h1 {
    font-size: 2rem; /* Reduce font size */
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  }

  .summary {
    font-size: 1.5rem; /* Reduce font size */
    line-height: 1.5;
    margin: 10px auto;
  }

  /* Projects Section */
  .projects-container {
    height: auto;
  }

  .projects-container h2 {
    font-size: 2rem; /* Adjust font size */
    margin: 10px 0;
  }

  .projects-list {
    display: flex;
    flex-direction: column; /* Stack projects vertically */
    gap: 10px;
  }

  .project-card {
    flex-direction: row; /* Change layout to row */
    align-items: center;
    height: auto;
    width: 90%;
    justify-content: center;
    padding: 10px;
    gap: 10px; /* Add spacing between image and text */
  }

  .project-logo {
    width: 50px;
    height: 30px;
  }

  .project-details h3 {
    font-size: 1.8rem; /* Adjust font size */
  }

  .project-details p {
    font-size: 1.5rem; /* Adjust font size */
  }

  /* Technologies Section */
  .technologies-container h2 {
    font-size: 2rem; /* Reduce font size */
    margin-bottom: 10px;
  }

  .technologies-grid {
    grid-template-columns: repeat(2, 1fr); /* Only 2 items per row */
    gap: 10px;
  }

  .technology-card {
    width: 90%; /* Adjust width for smaller screens */
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .tech-icon {
    font-size: 1.5rem; /* Reduce size */
  }

  .tech-name {
    font-size: 1rem; /* Adjust font size */
  }

  /* Controls Section */
  .controls {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .controls .arrow {
    font-size: 1.5rem; /* Reduce size */
    border-radius: 50%;
  }

  .left-arrow {
    position: absolute;
    left: 10px; /* Place arrow 10px from the left of the container */ /* Adjust as needed */
  }
  
  .right-arrow {
    position: absolute;
    right: 10px; /* Place arrow 10px from the right of the container */
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    border: 2px solid #fff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
  }
}

